/*header*/

body {
	font-family: helvetica, arial, sans-serif;
}

.logo{
	line-height: 44px;
	padding-left: 10px;
}

.navigation ul {
	list-style: none;
	padding-left: 0;
	margin: 0;

}

.navigation a{
	font-size: 12px;
	display: inline-block;
	padding: 15px;
}

.navigation a:hover{
	background-color: rgba(255,255,255,0.2);
}

.navigation a:active{
	background-color: rgba(255,255,255,0.4);
}

.navigation a:focus{
	background-color: rgba(255,255,255,0.5);
}


.navigation a, .call-to-action h1 {
	text-transform: uppercase;
	text-decoration: none;
	
}

.navigation li {
	display: inline-block;
}

.call-to-action {
	text-align: center;
	padding: 100px 0 70px 0;
}

header {
	background-image: url("images/header-bg.jpg");
	color: white;
	background-size: cover;
}

a {
	color: white;
}

.navigation {
	background-color: rgba(255, 255, 255, 0.2);
}

ul {
	display: inline-block;
	float: right;
}

li {
	padding: 0 15px;
}

.call-to-action h1 {
	font-size: 50px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.section-title {
	background-color: #ec313c;
	text-transform: uppercase;
	padding: 10px 30px;
	color: #fff;
	font-weight: 200;
	font-size: 15px;
	
}

h2 {
	text-align: center;
}

.icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url("images/intro-icons.png");
}

.psd .icon {
    background-position: -60px 0;
}

.programing .icon {
	background-position: -120px 0;
}

.col-4:hover .icon {
	background-image: url("images/intro-icons-hover.png")
}

/*aditional rules*/

.clearfix::after {
   display: block;
   content: "";
   clear: both;
}

.col-4{
	width: 33.33%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	text-align: center;
	
}